 .card {
    position: relative !important;
    transition: filter 0.3s, opacity 0.3s !important;
  } 
  
  .temporaryClosed {
    filter: grayscale(50%);
    opacity: 0.7;
  }
  
  .closed {
    filter: grayscale(100%);
    opacity: 0.5;
  }
  